.page {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.image {
  height: 500px;
  object-fit: cover;
}