* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke; 
  color: rgb(41, 39, 39);            
  font-family: Arial, sans-serif;
}
